div {

    background-color: #87d42e;
    height: 200px;
    width: 300px;
    overflow: hidden;
}

.barraLateral {
  height: 200px;             
  width: 300px;
  overflow: scroll;        
  border: 1px solid #ccc;
  padding: 10px;
}